* {
    box-sizing: border-box;
}
img {
    width: 100%;
}
body {
    background: linear-gradient(lightpink, #de63a4);
    padding: 30px;
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    text-align: center;
}
.card {
    border-radius: 4px;
    padding: 20px;
    max-width: 450px;
    margin: 0 auto;
    background-color:#ffffff;
    box-shadow: 0px 2px 8px rgba(153, 24, 80, 0.3);
    font-family: 'Josefin Sans', sans-serif;
}
.field > label {
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
}

.field {
    margin-bottom: 15px;
}

.field > input[type=text]{
    width: 100%;
    height: 40px;
    font-family: 'Josefin Sans', sans-serif;
}

.heading {
    font-weight: bold;
    padding-bottom: 15px;
}

.field > select {
    width: 100%;
    height: 40px;
    font-family: 'Josefin Sans', sans-serif;
}

.field > textarea {
    width: 100%;
    height: 60px;
    font-family: 'Josefin Sans', sans-serif;
}
.field > label.label-inline {
    display: inline;
}

.field.labels-wrapping > label:first-child {
    font-weight: bold;
}

.field.field-centered {
    text-align: center;
    
}
.field > button {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #fcaebb;
    padding: 18px;
    border-radius: 5px;
    border: none;
    transition: all .3s ease;
}

.field > input[type=checkbox] {
    margin: 5px;
}

.field > button:hover {
    transform: scale(2.5);
    background-color: #f1b2dc;
}

.email-conf {
    font-size: 16px;
    width: 100%;
    text-align: center;
}

.expanded-background {
    padding-bottom: 600px;
}

#thanks-pic {
    width: 500px;
    height: auto;
    display: block;
}